version: '3'
services:
  app:
    build: .
    depends_on:
      - redis

  redis:
    image: 'bitnami/redis:latest'
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - MINUTES_PERIOD=5
    ports:
      - 127.0.0.1:6002:6379
